@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
html{
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  font-family: 'Poppins', sans-serif;
  background-color:white;
  color: #222;
  }

  /*................. Nav bar .................*/
.Nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  background-color:#fff9f0;
  }

.logo{
  width: 19vmin;
  }

.nav {
  font-size: 17px;
  transition: 0.4s;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  }

.nav:hover {
  color: #f39c12;
  }

.Nav-links {
  display: flex;
  align-items: center;
  gap: 5vmin;
  }

.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .3vmin;
  }

.btnic{
  display: flex;
  }

.btn-sign {
    background: #000;
    color: #fff;
    padding: 1.5vmin 3vmin;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.btn-sign:hover {
    background-color: #e68a00;
}

/* Secondary Navbar*/
#menu{
  font-size: 5vmin;
  color: #fbc01e;
  display: none;
  }

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff9f0;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  }

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.2s;
  }

.sidebar a:hover {
  background-color: #f1c686;
  border: #f7b500 solid 1.2vrim;
  }

  /*................. CAPTION .................*/
.hero-section {
  width: 100%;
  height: auto;
  text-align: center;
  padding:15vh 10vw 1.5vh 10vw;
  background-color: #fff9f0;
  }
  
.b1 {
  font-size: 3.4vmin;
  font-weight: 800;
  margin-bottom: 2vh;
  line-height: 1.3;
  }
  
.b2 {
  font-size: 2vmin;
  color: #777;
  line-height: 1.8;
  padding-bottom: 4vh;
  font-weight: 300;
  }
      
.cat{
  text-decoration: none;
  color: #fbc01e;
  font-size: 2vmin;
  padding: 2vmin 2vmin 1vmin 2vmin;
  justify-content: space-between;
  position: relative;
  font-weight: 500;
  transition: color .5s ease;
  cursor: pointer;
  }

.cat::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #f39c12; 
    left: 0;
    bottom: 0px; 
    transition: width 0.3s ease;
  }
  
.cat:hover::after {
  width: 100%;
  }

  /*................. COURSES .................*/
.Courses{
  background-color: #fff9f0;
  padding: 2vh 10vh 6vh 10vh;
  width: 100%;
  height: auto;
  }

.courses-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  justify-content: center;
  gap: 2vw;
  margin: auto;
  padding: 0vh 10vw;
  }

.c-card{
  background-color: #fff;
  padding: 1.5vh;
  border-radius: 40px 0px ;
  width: 350px;
  box-shadow:0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 0.5s ease;
  }

.c-card.hide{
  opacity: 0;
  pointer-events: none;
  height: 0;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  margin: 0;
  }

.c-card h1{
  font-size: 3vmin;
  font-weight: bold;
  color: #1E1E1E;
  line-height: 1.4;
  margin-bottom: 2vmin;
  margin-top: 2vmin;
  cursor: pointer;
  text-align: left;
  }

.c-info p {
  height: 10vh;
  color: #555;
  margin-bottom: 3vmin;
  line-height: 1.6;
  text-align: left;
  font-size: 1.8vmin;
  }

.c-card a:hover{
  color:#ffffff;
  background-color: #f7b500;
  border: rgb(255, 255, 255) double .5vmin ;
  border-radius: 1vmin;
  }

  .p9{
  text-decoration: none;
  display: inline;
  color: #f7b500;
  font-size: 2.1vmin;
  cursor: pointer;
  transition: background 0.3s ease;
  }

  .p9:hover{
  background-color:#d99e00;
  color: white;
  border: #d99e00;

  }

.courses-text h1{
  font-size: 36px;
  font-weight: bold;
  color: #1E1E1E;
  line-height: 1.4;
  margin: 0 auto 40px auto;
  text-align: center;
  }

.c-card img{
  width: 100%;
  height: 30vh;
  border-radius: 40px 20px 40px 0px;
  transition: transform 0.3s ease;
  }

.c-card img:hover{
  transform: scale(0.95);
  }

.c-info{
  margin-top: 20px;
  font-size: larger;
  }
.c-img1{
  border-radius: 40px 20px 40px 0px;
}
/* Media queries */
@media screen and (max-width: 1500px) {
  .courses-cards{
  grid-template-columns: repeat(3, 1fr);
    }
  }

@media screen and (max-width: 1200px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
    }

  h2 {
    font-size: 33;
    }

  #menu{
    display: block;
    cursor: pointer;
    
    }

  .btnic{
    gap: 2vmin;
    }

  .courses-cards{
    grid-template-columns: repeat(2, 1fr);
    }
  }

@media screen and (max-width: 750px) {
  .courses-cards{
    grid-template-columns: repeat(2, 1fr);
    }
  .c-card{
  width: 40vw;
  }
  .c-card img{
    height: 20vh;
  }
  .c-info p {
  height: 6.5vh;
  }

@media screen and (min-width: 1200px) {
  .sidebar{
    display: none;
    }
  }
}

  /*................. FOOTER .................*/
.footer{
  width: 100%;
  background-color: #000;
  padding: 4vh 7vh;
  align-items: center;
}

.subicon{
  width: 10.5vw;
}

.footer h3{
  color: #fff;
  font-size: 2.5vmin;
}

.footer p{
  color:#cfcccc;
  font-size: 2vmin;
  font-weight: normal;
  margin: 2vmin;

}
.f-bottom{
  display: flex;
  justify-content: space-between;
  gap: 5vmin;
  align-items:flex-start;
  margin-bottom: 40px;
}

.f-bottom p{
  margin-left: 0px;
}

.f-top{
  margin-bottom: 2vmin;
} 

.f-top p{
  margin:3vmin 0;
}

.pr{
  text-align: center;
}
